/* Ensure to import this CSS file in your TextForm component */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  
  form > * {
    margin: 0.5rem 0;
  }
  
  form > button {
    align-self: flex-start;
    margin-top: auto; /* Push the button to the bottom */
  }